<div class="row py-2">
  <div class="col-12">
    <form action="#" method="post">
      <input type="hidden" id="id" name="id">
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" id="text" name="title" placeholder="Enter title">
        <label>Price</label>
        <input type="text" class="form-control" id="double" name="Price" placeholder="Enter price">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
